@page
@model Housekeeping.Pages.Main.ReportModel
@{
    ViewData["Title"] = "Housekeeping Report";
}

<h1>@ViewData["Title"]</h1>

<p>Employee Information:</p>
<table border="1" class="table table-striped">
    <tr class="table-secondary">
        <th> Name </th>
        <th> Phone Number </th>
        <th> Email Address </th>
    </tr>

    <tr>
        <th> Austin </th>
        <th> 918-813-7404 </th>
        <th> austin.cates@okstate.edu </th>
    </tr>
    <tr>
        <th> Ryne </th>
        <th> 918-467-7627 </th>
        <th> ryne.garrison@okstate.edu </th>
    </tr>
    <tr>
        <th> Shivum </th>
        <th> 918-841-6665 </th>
        <th> shivum.kumar@okstate.edu </th>
    </tr>
</table>
