@page
@model Housekeeping.Pages.Main.ReportModel
@{
    ViewData["Title"] = "Housekeeping Report";
}

<h1>@ViewData["Title"]</h1>




<div class="Maintainancechart-container" width="600" height="400">
    <canvas id="maintainanceChart"></canvas>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {

        var ctx = document.getElementById('maintainanceChart');
        var myChart = new Chart(ctx, @Html.Raw(Model.MaintainChartJson));

    });
</script>



<div class="Cleanchart-container" width="600" height="400">
    <canvas id="CleanChart"></canvas>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {

        var ctx = document.getElementById('CleanChart');
        var myChart = new Chart(ctx, @Html.Raw(Model.CleanChartJson));

    });
</script>



<div class="employeeCleanedchart-container" width="600" height="400">
    <canvas id="employeeCleanedChart"></canvas>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {

        var ctx = document.getElementById('employeeCleanedChart');
        var myChart = new Chart(ctx, @Html.Raw(Model.employeeCleanedChartJson));

    });
</script>